<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Sobre Divercity</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  </head>

  <body>
      <nav class="navbar navbar-default navbar-static-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                <img class="img-responsive" src="{{ url_for('static',filename='img/logo.jpg') }}" alt="Divercity">
              </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/about">Sobre Divercity</a></li>
              </ul>
            </div>
          </div>
      </nav>

      <div class="container">
          Divercity es una aplicación web para encontrar baños de género neutro.
          <br><br>
          Las baños de género neutro o unisex pueden proporcionar un espacio más seguro y acogedor
          para una persona transgénero o que no se identifica con los géneros masculino o femenino,
          por los cuales los baños públicos a menudo se dividen.
          <br><br>
          Nuestro objetivo es fomentar la igualdad, ya que los baños siguen siendo uno de los pocos
          espacios que todavía distinguen entre hombres y mujeres para su uso.
          <br><br>
          Desde Divercity creemos en el código abierto (open source), así que todo el código de
          nuestra aplicación es de uso libre y se encuentra en <a target="_blank" href="https://github.com/Divercity/Divercity">GitHub</a>.
          <br><br><br>
          <a href="/" class="btn btn-info" role="button">
            <span class="glyphicon glyphicon-arrow-left"></span> Volver a la página de inicio
          </a>
      </div>
    <footer class="footer">
      <div class="container-fluid">
        <span class="text-muted">Divercity 2017</span>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
